/* trial code begin*/


.navbar-nav {
  list-style-type: none;
  display: flex;
  height: 0.5vh;
  max-width: 100%;
justify-content: space-between;
margin-bottom: 3px;
}

.pink
{
  border-radius: 25%;
width: 100px;
margin-left: 20px;
  background-image: linear-gradient(315deg, #ffd3ea 0%, #403020 98%);
}


.flip-calc {
 position: relative;
 transition: transform 1s;
 transform-style: preserve-3d;
}


.flip-calc-default, .flip-calc-custom {
  margin: 0px;
  padding: 0px;
  position: absolute;
  backface-visibility: hidden;
}


.flip-calc-custom {
  transform: rotateY(180deg);
}


.flip-calc.is-flipped {
   transform: rotateY(180deg);
}

.calculator
{
  border-radius: 25px;
  background-color: rgba(208,179,183,255);
  background-color: rgb(196, 180, 183);
 
  padding: 20px;
  padding-bottom: 10px;
  margin: 20px;
  font-family: cursive;  
width: 275px;
}

.calculator-default
{
  background-color: black;
}


.calc-display
{
  background-color: rgba(96,112,96,255);
  margin: 8px;
  box-shadow: 0 0 1.5px 1.5px rgba(96,112,96,255);
   height: 8vh;
  margin-bottom: 15px;
  margin-top: 45px;
}

.calc-answer
{
  background-color: rgba(96,112,96,255);
  margin: 8px;
  box-shadow: 0 0 1.5px 1.5px rgba(96,112,96,255);
 
  height: 5vh;
  margin-top: 30px;
  margin-bottom: 35px;
 
}
    
.num
{
  width: 60px;
  text-align: center;
  padding: 10px;
  color: white;
  font-weight: bold;
  font-style: italic;
  font-size: large;
  border: 1px solid #ddd;
  cursor: pointer;
  background-color: #ffd3ea;
  background-image: linear-gradient(315deg, #ffd3ea 0%, #403020 98%);
  margin: 10px;
}

.num:active
{
 color: black;
 cursor: pointer;
}

.num:hover
{
  cursor: pointer;
}

.num-default
{
  background: #333;
  border-radius: 50%;
  cursor: pointer;
   width: 45px;
  height: 45px;
  margin: 5px;
  margin-top: 15px;
}


.input
{
  margin: 10px;
}

.oper
{
  background-color: #a38560;
  background-image: linear-gradient(315deg, #a38560 0%, #e0d4ae 74%);
  
  width: 60px;
  text-align: center;
  padding: 10px;
  color: white;
  font-weight: bold;
  font-style: italic;
  font-size: large;
  border: 1px solid #ddd;
  
  cursor: pointer;
  margin: 10px;
  
}


.oper:active
{
 color: black;
}


.oper-default
{
  background: #f1a33c;  
  border-radius: 50%;
  width: 45px;
  height: 45px;
  margin: 5px;
}


.oper-grey
{
  color: black;
  font-weight: bold;
  font-size: large;
  border: 1px solid #ddd;
  cursor: pointer;
  background: #a5a5a5;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  margin: 5px;
}

