


.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 4px;
  background-color: white;

  transition: .4s;
}

input:checked + .slider {
  background-color: black;
}


input:checked + .slider:before {
 
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


.flip-calc {
 position: relative;
 transition: transform 1s;
 transform-style: preserve-3d;
}


.flip-calc-default, .flip-calc-custom {
  margin: 0px;
  padding: 0px;
  position: absolute;
  backface-visibility: hidden;
}


.flip-calc-custom {
  transform: rotateY(180deg);
}


.flip-calc.is-flipped {
   transform: rotateY(180deg);
}

.calculator
{
  border-radius: 25px;
  background-color: rgb(196, 180, 183);
  margin: 20px;
  font-family: cursive;  
}

@media screen and (max-width: 400px) {
  .calculator {
    width: 275px;
    padding: 20px;
    padding-bottom: 10px;
  }
}

@media screen and (min-width: 400px) {
  .calculator {
    width: 500px;
    padding: 60px;
    margin-left: 250px;
  }
}

.calculator-default
{
  background-color: black;
}


.calc-display
{
  background-color: rgba(96,112,96,255);
  margin: 8px;
  box-shadow: 0 0 1.5px 1.5px rgba(96,112,96,255);
   height: 7vh;
  margin-bottom: 15px;
  margin-top: 15px;
  overflow-wrap: break-word;
}

.calc-answer
{
  background-color: rgba(96,112,96,255);
  margin: 8px;
  box-shadow: 0 0 1.5px 1.5px rgba(96,112,96,255);
 
  height: 5vh;
  margin-top: 10px;
  margin-bottom: 15px;
 
}

.num
{
  background-color: #ffd3ea;
  background-image: linear-gradient(315deg, #ffd3ea 0%, #403020 98%);
}

.num-default
{
  background: #333;
}



.oper
{
  background-color: #a38560;
  background-image: linear-gradient(315deg, #a38560 0%, #e0d4ae 74%);
}


.oper-default
{
  background: #f1a33c;  
}

.oper-grey
{
  color: black;
  background: #a5a5a5;
}

.input
{
  margin: 10px;
}

.button
{
  color: white;
    font-weight: bold;
    font-style: italic;
    font-size: large;
    border: 1px solid #ddd;
    border-radius: 50%;
    cursor: pointer;
    width: 45px;
    height: 45px;
  
}

@media screen and (max-width: 400px) {
  .button {
    margin: 5px;
    margin-top: 15px;
      
  }
}

@media screen and (min-width: 400px) {
  .button {
    margin: 15px;
    margin-top: 15px;
    
  }

  .input
{
  margin-left: 70px;
}

.output
{
  margin-left: 20px;
  margin-right: 20px;
}
}

  .button-custom {
    width: 55px;
    text-align: center;
    padding: 5px;
    color: white;
    font-weight: bold;
    font-style: italic;
    font-size: large;
    border: 1px solid #ddd;
    cursor: pointer;
    margin: 10px;    
  }

.button:active
{
 color: black; 
}

.button:hover
{
  cursor: pointer;
}

